body {background-color: whitesmoke;}

.contenitore {
    position: absolute;
    width: 1920px;
    height: 1080px;
    }

.scafo1 {
    position: absolute;
    top: 769.7799px;
    left: 669.2188px;
    width: 581.3209px;
    height: 67.0798px;
    background-color: black;
   } 

.scafo2 {
    position: absolute;
    top: 769.7799px;
    left: 653.512px;
    width: 630.222px;
    height: 34.548px;
    background-color: black;
   } 

.albero1 {
    position: absolute;
    top: 714.9962px;
    left: 188.651px;
    width: 16.9862px;
    height: 582.9315px;
    background-color: black;
   } 